@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-primary:#fff;
    --color-secondary:#000000;
    --color-text:#434343;
    --color-accent:#23BE0A;
    --color-blue: #50B1C9;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
p, span, li, button {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
}